.header__box1 {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 96px;
  position: relative;
  min-width: 1920px;
}
.header__box11 {
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  position: relative;
  flex-grow: 1;
  min-height: 96px;
}
.header__rect6 {
  background-color: black;
  width: 1920px;
  height: 96px;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 1920px;
}
.header__box2 {
  display: flex;
  flex-direction: column;
  background-color: red;
  border-radius: 10px 10px 10px 10px;
  width: 172px;
  height: 38px;
  position: absolute;
  top: 31px;
  left: 1090px;
  min-width: 172px;
}
.header__medium_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 24px/1.51 "Montserrat", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
  margin: 1px 40px 0px;
}
.header__icon1 {
  width: 64px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 1302px;
  min-width: 64px;
}
.header__icon11 {
  width: 64px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 1406px;
  min-width: 64px;
}
.header__icon12 {
  width: 64px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 16px;
  left: 1510px;
  min-width: 64px;
}
.header__hero_title2 {
  font: 400 48px/1.25 "Lexend", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  position: absolute;
  top: 20px;
  height: -moz-min-content;
  height: min-content;
  left: 346px;
  min-width: 0px;
  width: -moz-fit-content;
  width: fit-content;
}
.header__hero_title2_span0 {
  font: 1em/1.25 "Lexend", Helvetica, Arial, serif;
  color: white;
  font-style: normal;
  letter-spacing: 0px;
}
.header__hero_title2_span1 {
  font: 1em/1.25 "Lexend", Helvetica, Arial, serif;
  color: #f9ff00;
  font-style: normal;
  letter-spacing: 0px;
}